## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.drop(["EIN","NAME"], axis = 1, inplace=True)

In [2]:
# Determine the number of unique values in each column. Also satisfying OCD with string formatting
for column in application_df:
    series = len(application_df[column].unique())
    if column == "SPECIAL_CONSIDERATIONS":
        print(f"{column:<10}:{series:>4}")
    else:
        print(f"{column:<16}:{series:>10}")

APPLICATION_TYPE:        17
AFFILIATION     :         6
CLASSIFICATION  :        71
USE_CASE        :         5
ORGANIZATION    :         4
STATUS          :         2
INCOME_AMT      :         9
SPECIAL_CONSIDERATIONS:   2
ASK_AMT         :      8747
IS_SUCCESSFUL   :         2

In [3]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Attempt 1 at Optimization, increasing bins available
application_types_to_replace = ["T25", "T14", "T29", "T15", "T17"]

In [5]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df["CLASSIFICATION"].value_counts()
classification_bins.loc[classification_bins > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Attempt 1 at Optimization, increasing bins available
classification_index =  classification_bins.index
keep_values = ["C1000", "C2000","C1200", "C3000", "C2100", "C7000", "C1700", "C4000", "C5000", "C1270", "C2700"]

In [9]:
classifications_to_replace = []

for item in classification_index:
    if item not in keep_values:
        classifications_to_replace.append(item)
    else:
        pass

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_variable_df = pd.get_dummies(data = application_df, columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS", "ASK_AMT"])
dummy_variable_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ASK_AMT_1665460552,ASK_AMT_1736232349,ASK_AMT_1893400128,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = dummy_variable_df.drop("IS_SUCCESSFUL", axis = 1)
y = dummy_variable_df["IS_SUCCESSFUL"]
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 25)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Attempting to Optimize Model

In [13]:
# Attempt #2, adding more layers
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 500
hidden_nodes_layer2 = 400
hidden_nodes_layer3 = 300
hidden_nodes_layer4 = 200
hidden_nodes_layer5 = 100
nn = tf.keras.models.Sequential()


nn.add(tf.keras.layers.Dense(input_dim = number_input_features, units=hidden_nodes_layer1, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 500)               4400000

 dense_1 (Dense)             (None, 400)               200400

 dense_2 (Dense)             (None, 300)               120300

 dense_3 (Dense)             (None, 200)               60200

 dense_4 (Dense)             (None, 100)               20100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 4,801,101
Trainable params: 4,801,101
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Testing the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
fit_model = nn.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/5
804/804 [==============================] - 45s 53ms/step - loss: 0.5923 - accuracy: 0.6927
Epoch 2/5
804/804 [==============================] - 44s 54ms/step - loss: 0.4265 - accuracy: 0.8042
Epoch 3/5
804/804 [==============================] - 43s 54ms/step - loss: 0.3994 - accuracy: 0.8104
Epoch 4/5
804/804 [==============================] - 42s 53ms/step - loss: 0.3967 - accuracy: 0.8116
Epoch 5/5
804/804 [==============================] - 44s 54ms/step - loss: 0.3949 - accuracy: 0.8131

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6234 - accuracy: 0.7227 - 1s/epoch - 5ms/step
Loss: 0.6233821511268616, Accuracy: 0.7226822376251221

In [ ]:
# Export our model to HDF5 file
nn.save_weights("AlphabetSoupCharity_Optimization.hdf5")